---
layout: default
---

<div class="home"> 
        
    <h1>Cite</h1>

    <hr>

    {% assign mrtrix_commands = "" | split: "|" %}
    {% for publication in site.data.publications %}
        {% unless mrtrix_commands contains publication.mrtrix_command %} 
            {% assign mrtrix_commands = mrtrix_commands | push: publication.mrtrix_command %}  
        {% endunless %}
    {% endfor %}

    {% for command in mrtrix_commands %}
    <div class="panel panel-primary">
    
        <div class="panel-heading"><strong>{{ command }}</strong></div>
        
        {% assign sorted_pubs = site.data.publications | where: 'mrtrix_command', command| sort: "year" | reverse %}
        <ul class="list-group publication-item">
            {% for publication in sorted_pubs %}
            {% assign pub = publication %}
            <li class="list-group-item">
                {% include publication_item.html param=pub %}
            </li>
            {% endfor %}
        </ul>
    </div>
     {% endfor %}   
</div>
