---
layout: frontpage
---

<div class="home">    
    
    <div class="about">
    <h1>{{ site.data.frontpage.about.title }}</h1>
    <p>{{ site.data.frontpage.about.description }}</p>
    <hr>
    </div>

    {% include feature_list.html %}

    <hr>


    <h1>We are recruiting!</h1>
    We have an exciting opportunity for a Research Software Engineer to join us
    in King’s College London to contribute to the MRtrix project. If you have
    C++ skills and you’re interested in contributing to open-source software,
    please consider applying!

    <a href=https://jobs.kcl.ac.uk/gb/en/job/060969/Research-Software-Engineer target="_blank">Click here for details</a>

    <hr>
    
    <div class="post-snippet">
    <h1>Latest posts</h1>
    <hr>

    {% for post in site.posts limit:1 %}
        {% include post_snippet.html param=post %}  
    {% endfor %}


    {% for post in site.posts limit:2 offset:1 %}
        {% include post_micro_snippet.html param=post %}  
    {% endfor %} 
    </div> 
    
    {% include contributors.html %}  
    
    <hr>

    {% include affiliations.html %}
</div>
