---
layout: frontpage
---

<div class="home">    
    
    <div class="about">
    <h1>{{ site.data.frontpage.about.title }}</h1>
    <p>{{ site.data.frontpage.about.description }}</p>
    <hr>
    </div>

    {% include feature_list.html %}

    <hr>
    
    <div class="post-snippet">
    <h1>Latest posts</h1>
    <hr>

    {% for post in site.posts limit:1 %}
        {% include post_snippet.html param=post %}  
    {% endfor %}


    {% for post in site.posts limit:2 offset:1 %}
        {% include post_micro_snippet.html param=post %}  
    {% endfor %} 
    </div> 
    
    {% include contributors.html %}  
    
    <hr>

    {% include affiliations.html %}
</div>
