<footer class="site-footer text-center">
  <div class="wrapper">

      <div class="row">
        <ul class="social-media-list">
            {% for media_item in site.data.social-media %}
            <li class="social-media-item">
            <a href="{{ media_item.link }}" class="btn social-media-button" role="button">            
                <i class="{{ media_item.icon }}"></i>
            </a>
            </li>
            {% endfor %}
        </ul>
      </div>

  </div>

  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/javascript/bootstrap.js"></script>
  <script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

</footer>
