<post-snippet>

    <div class="post-snippet row">
        
        {% include post_header.html param=include.param %}

        <div class="col-md-10">
          <a href="{{ baseurl }}{{ post.url }}"><h3>{{ include.param.title }}</h3></a>
            <span class="post-meta">{{ include.param.date | date: "%b %-d, %Y" }}</span>
            <p>{{ post.content | strip_html | truncatewords: 40}}</p>
        </div>
        
        
        <div class="col-md-8">
            {% include post_footer.html param=post %}
        </div>
        <div class="col-md-4">
            <p class="post-snippet-button"><a class="btn btn-primary btn-lg" href="{{ post.url }}" role="button">More</a></p>
        </div>
    </div>
    <hr>
</post-snippet>
